<configuration>
	<dllmap os="osx" dll="libcrypto-1_1-x64" target="libcrypto-1_1-x64.dylib"/>
	<dllmap os="osx" dll="libssl-1_1-x64" target="libssl-1_1-x64.dylib"/>
	<dllmap os="!windows,osx" dll="libcrypto-1_1-x64" target="libcrypto-1_1-x64.so"/>
	<dllmap os="!windows,osx" dll="libssl-1_1-x64" target="libssl-1_1-x64.so"/>
</configuration>
